/*NAVBAR SECTION*/
header{
    display:flex;
    align-items: center;
    background-color: lightblue;
    color: rgb(234, 234, 33);
    padding:10px;
}

.logo{
    display:inline-block;
    margin-right:20px
}

nav{
    flex-grow: 1;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding: 2px;
}

nav li{
    display:inline-block;
}

nav li a{
    display:block;
    padding: 5px 15px;
    text-decoration: none;
}

nav a:hover{
    color: red;
}

/*HOMEPAGE STYLES*/
.container{
    position: relative;
    width:100%;
    height: 500px;
    overflow: hidden;
}

.bgimg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    filter:brightness(0.5);
    padding: 10px
}

.text-overlay{
    position:absolute;
    top:50%;
    transform:translate(-50%, -50%);
    color:white;
    font: size 100px;
    text-align:center;
}

button{
    background-color:black;
    color:white;
    border:none;
    border-radius: 18px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
    font-family: 'Lucida Sans';

}
button:hover{
    opacity: 0.7;
}

/*ABOUT STYLES*/
.lala{
    background-color:yellow;
}

.icon-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:400px;
    margin:0 auto;
}

.icon-item{
    margin-bottom:20px;
    text-align:center;
}

.icon-item img{
    width:100px;
    height:100px;
}

.round1{
    border-radius: 50%;
}
.round2{
    border-radius: 50%;
}
.round3{
    border-radius: 50%;
}

/*courses styles*/
.image-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin:0 auto;
    padding:60px;
}

.image-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:200px;
    margin:0 10px;
    padding: 60px;
}
.image-item img{
    width:50%;
    height:auto;
    padding: 60px;
}

.image-item p{
    text-align: center;
    margin-top:10px;
    padding: 60px
}

/*tuition  and events page styles*/
.money{
    background-color: lightgray;
    padding:128px 16px;   
}
.left{
  align-items: left;  
}

.picright{
    align-content: right;
}

/*catalog page styles*/

/*resources page styles*/
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column1, .column2{
    padding:20px;
}



/*staff profiles page styles*/
.cardcontainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%
}

.dzi-card{
    width:300px;
    margin:20px;
    background-color: blueviolet;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;

}
 
.dzi-card img{
    width:100%;
    height:250px;
    object-fit: cover;
}

.card-details{
    padding:20px
}

.card-details h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.card-details p{
    font-size:14px;
    margin-bottom: 5px;
}


/*achievements page styles*/
.highachiever{
    background-color: rgb(128, 126, 126);
    padding: 64px;
    justify-content: center;
    font-size: xx-large;
    display: inline-block;
    flex-direction:row ;
    color: white;
}

.dzi-quarter{}



/*contact page styles*/